<div th:fragment="modalInfo">

    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Обо мне</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div>
                        <h4><a>Гуринович Светлана</a></h4>
                        <table>
                            <tbody><tr>
                                <td><img src="http://immi.kubsu.ru/images/photo/portraits/SYGurinovich1.jpeg" width="200"></td>
                                <td width="30"></td>
                                <td>
                                   <label> Хочу реализовать себя в области разработки.</label>
                                    <label> GitHab: <a href="https://github.com/Mukusha">https://github.com/Mukusha</a> </label>

                                </td>
                            </tr>
                            </tbody></table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->

</div>